$blue: #2E4765;
$darkblue: #172433;
$white: #FFFFFF;
$green: #93EF00;
$orange: #EF4C00;
$maroon: #B30733;
$gray: #808080;

.background {
    height: 100rem;
    background-color: $blue;
    position: relative;
}

.container-float {
    width: 90%;
    height: 90%;
    background-color: $white;
    position: absolute;
    top: 5%;
    left: 5%;
    right: 5%;
    border-radius: 20px;
    display: flex;
    justify-content: center;

    &__head {
        height: 80px;
        display: grid;
        grid-template-columns: 8fr 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        margin: 0 10% 0 10%;

        &--left {
            border-bottom: 1px solid $gray;
            display: grid;
            grid-template-columns: 3fr 9fr 1fr;
            grid-template-rows: 1fr;
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            align-items: center;
            margin-top: 10px;

            @media (max-width: 812px) {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }
        }

        &--right {
            border-bottom: 1px solid $gray;
            border-left: 1px solid $gray;
        }
    }
}

.nav {

    &__title {
        color: $orange;
            font-size: 22px;
    }

    &__links {
        display: flex;
        justify-content: space-around;
        font-size: 15px;
        text-decoration: none;
        color: $darkblue;

        @media (max-width: 812px) {
            flex-direction: column;
        }

        &--active {
            text-decoration: none;
            color: $darkblue;
        }

        &--inactive {
            text-decoration: none;
            color: $darkblue;
        }
    }

    &__profile {

        &--icon {
            height: 30px;
            width: 30px;
            border-radius: 50%;
            background-color: blue;
            background-image: url("Image 39.png");
            background-size: cover;
            margin-left: 40%;
        }
    }

    &__item {
        background-color: $orange;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white;
        margin-top: 30%;
        margin-left: 10%;
        font-size: 12px;
        width: 80%;
        height: 40%;

        &:hover {
            background-color: $white;
            color: $orange;
            cursor: pointer;
        }
    }
}

.head {
    height: 80px;
    margin: 1% 10% 0 10%;
    display: grid;
    grid-template-columns: 3fr repeat(5, 2fr) repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    @media (max-width: 812px) {
        flex-direction: column;
    }
}

.head {
    width: 80%;

    &__title {
        color: $orange;
        font-size: 22px;
        grid-area: title;
    }

    &__link {
        color: $darkblue;
        font-size: 15px;
        border-bottom: 1px solid $gray;
        display: flex;
        align-items: center;
        grid-area: link;

        &--active {
            border-bottom: 2px solid $orange;
        }

        &:hover {
            border-bottom: 2px solid $orange;
        }

    }
}

@media (max-width: 812px) {
    .head {
        grid-template-areas: 
        'title'
        'link'
        ;

    } 
}