$blue: #2E4765;
$darkblue: #172433;
$white: #FFFFFF;
$green: #93EF00;

body {
    width: 80rem;
    height: 80rem;
    background: transparent linear-gradient(180deg, $blue 0%, $darkblue 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
}

.layout {
    margin-top: 5rem;
    margin-left: 3rem;
    background: $white;
}

.navbar {
    margin-top: 5rem;
    margin-left: 1rem;
    background: $white;
    opacity: 1;
    border-bottom: 2px solid gray;

    &--brand {
        color: orangered;
        font-size: 20px;
    }
}

.profile--image {
    border-radius: 50px;
    margin-right: 1rem;
}

.container--item {
    border-left: 2px solid gray;
    background-color: orangered;
    margin: 0.2rem 0 0 1rem;
    border-radius: 10px;
    color: $white
}

.text {
    margin-top: 2rem;
    margin-left: 5rem;
    background: $white;
    opacity: 1;
}

