html {
  height: 2036px;
  width: 100%;
}

body {
  background-color: #2E4765 !important;
}

body * {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  margin-top: 4rem;
}

.container__nav {
  margin: 01rem 5rem 0 5rem !important;
  width: 80% !important;
}

.container__nav--row {
  border-bottom: 1px solid gray;
}

.container__nav--logo {
  color: #EF4C00;
  font-size: 22px;
}

.container__link {
  color: #2E4765;
}

.container__link:hover {
  color: #EF4C00;
}

.container__link--active {
  border-bottom: 2px solid #EF4C00;
}

.container__link--active:hover {
  color: #EF4C00;
}

.container__profile {
  margin-right: 0px !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container__profile--image {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  margin-top: 4px;
}

.container__profile--link {
  padding-left: 3px !important;
}

.container__profile--button {
  color: #FFFFFF;
  background-color: #EF4C00;
  border-radius: 30px;
  font-size: 12px !important;
}

.container__profile--button:hover {
  color: #EF4C00;
  background-color: #FFFFFF;
}

.container__poster {
  margin: 01rem 5rem 0 5rem !important;
  height: 300px;
  width: 80% !important;
  background-image: url("10882.png");
  background-color: #EF4C00;
  background-size: auto;
}

.container__poster--motto {
  height: 150px;
  color: #FFFFFF;
  font-size: 30px;
  margin: 2rem 0 0 1rem !important;
}

.container__poster--mobile {
  color: #FFFFFF;
  height: 40px;
  margin: 2rem 0 0 2.5rem !important;
  background-color: #B30733;
  border-radius: 5px;
}

.container__poster--mobile-icon {
  margin-top: 5px;
}

.container__poster--mobile-head {
  font-size: 10px !important;
  margin-bottom: 0;
}

.container__poster--mobile-body {
  font-size: 12px;
  margin-top: 0 !important;
}

.container__menu {
  margin: 01rem 5rem 0 5rem !important;
  width: 80% !important;
}

.container__menu--text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #B30733;
  font-weight: bold;
  font-size: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__menu--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #FFFFFF;
  background-color: #EF4C00;
  width: 35px !important;
  height: 35px;
  border-radius: 50px !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container__menu--list:hover {
  background-color: #FFFFFF;
}

.container__menu--list-bar {
  color: #FFFFFF;
}

.container__menu--list-bar:hover {
  color: #EF4C00;
}

.container__type {
  margin: 01rem 5rem 0 5rem !important;
  width: 80% !important;
}

.container__type--all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #EF4C00;
  border-radius: 50px;
  width: 60%;
  color: #FFFFFF;
  padding: 5px 5px 5px 5px !important;
}

.container__type--all:hover {
  background-color: #FFFFFF;
  color: #EF4C00;
}

.container__type--button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50px;
  border: 0 5px 0 5px solid #EF4C00;
  background-color: #c5bebe;
  width: 90%;
  padding: 5px 5px 5Px 5px !important;
}

.container__type--button:hover {
  background-color: #2E4765;
  color: #c5bebe;
}

.container__popular {
  margin: 01rem 5rem 0 5rem !important;
  width: 80% !important;
  font-size: 24px;
  color: #B30733;
}

.container__card {
  margin: 01rem 5rem 0 5rem !important;
  width: 80% !important;
}

.container__card--wrapper {
  border-radius: 20px !important;
}

.container__card--body h5 {
  color: #EF4C00;
}

.container__card--body a {
  text-decoration: none;
}

.container__card--image {
  width: 100% !important;
  height: 50% !important;
}

.blockquote {
  width: 100% !important;
  font-size: 25px !important;
}

.blockquote__source {
  color: orangered;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-weight: bold;
}

.blockquote--button {
  color: #2E4765;
}
/*# sourceMappingURL=page.css.map */