$blue: #2E4765;
$darkblue: #172433;
$white: #FFFFFF;
$green: #93EF00;
$orange: #EF4C00;
$maroon: #B30733;

html {
    height: 2036px;
    width: 100%;
}

body {
    background-color: $blue !important;

    * {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
}

.container {
    background-color: $white;
    border: 1px solid $white;
    border-radius: 10px;
    margin-top: 4rem;

    &__nav {
        margin: 01rem 5rem 0 5rem !important;
        width: 80% !important;

        &--row {
            border-bottom: 1px solid gray;
        }

        &--logo {
            color: $orange;
            font-size: 22px;
        }
    }

    &__link {
        color: $blue;

        &:hover {
            color: $orange;
        }

        &--active {
            border-bottom: 2px solid $orange;

            &:hover {
                color: $orange;
            }
        }
    }
    &__profile {
        margin-right: 0px !important;
        display: flex !important;
        justify-content: space-between;
    
        &--image {
            width: 30px;
            height: 30px;
            border-radius: 50px;
            margin-top: 4px;
        }

        &--link {
            padding-left: 3px !important;
        }

        &--button {
            color: $white;
            background-color: $orange;
            border-radius: 30px;
            font-size: 12px !important;

            &:hover {
                color: $orange;
                background-color: $white;
            }
        }
    }

    &__poster {
        margin: 01rem 5rem 0 5rem !important;
        height: 300px;
        width: 80% !important;
        background-image: url("10882.png");
        background-color: $orange;
        background-size: auto;

        &--motto{
            height: 150px;
            color: $white;
            font-size: 30px;
            margin: 2rem 0 0 1rem !important;
        }

        &--mobile {
            color: $white;
            height: 40px;
            margin: 2rem 0 0 2.5rem !important;
            background-color: $maroon;
            border-radius: 5px;

            &-icon {
                margin-top: 5px;
            }

            &-head {
                font-size: 10px !important;
                margin-bottom: 0;
            }

            &-body {
                font-size: 12px;
                margin-top: 0 !important;
            }
        }
    }

    &__menu {
        margin: 01rem 5rem 0 5rem !important;
        width: 80% !important;

        &--text {
            display: flex;
            color: $maroon;
            font-weight: bold;
            font-size: 18px;
            align-items: center;
        }

        &--list {
            display: flex;
            color: $white;
            background-color: $orange;
            width: 35px !important;
            height: 35px;
            border-radius: 50px !important;
            justify-content: center;

            &:hover {
                background-color: $white;
            }

            &-bar {
                color: $white;

                &:hover {
                    color: $orange;
                }
            }
        }
    }

    &__type {
        margin: 01rem 5rem 0 5rem !important;
        width: 80% !important;

        &--all{
            display: flex;
            justify-content: center;
            background-color: $orange;
            border-radius: 50px;  
            width: 60%;
            color: $white;
            padding: 5px 5px 5px 5px !important;  
            
            &:hover {
                background-color: $white;
                color: $orange;
            }
        }

        &--button {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50px;
            border: 0 5px 0 5px solid $orange;  
            background-color: rgb(197, 190, 190);
            width: 90%; 
            padding: 5px 5px 5Px 5px !important;

            &:hover {
                background-color: $blue;
                color: rgb(197, 190, 190);
            }
        }
    }

    &__popular {
        margin: 01rem 5rem 0 5rem !important;
        width: 80% !important;
        font-size: 24px;
        color: $maroon;
    }

    &__card {
        margin: 01rem 5rem 0 5rem !important;
        width: 80% !important;

        &--wrapper {
            border-radius: 20px !important;
        }

        &--body {

            & h5 {
                color: $orange;
            }

            & a {
                text-decoration: none;
            }
        }
        
        &--image {
            width: 100% !important;
            height: 50% !important;
        }
    }
}

.blockquote {
    width: 100% !important;
    font-size: 25px !important;

    &__source {
        color: orangered;
        justify-content: flex-end;
        font-weight: bold;
    }

    &--button {
        color: $blue;
    }
}